.project-window {
    width:100%;
    padding: 160px 7vw 0 15vw;
    display: relative;
    justify-content: center;
    align-items: center;
}

.project-wrapper {
    display: flex;
    /* justify-content: space-between; */
    align-items: flex-start;
    flex-direction: row;
    height: 100%;
    width: 100%;
    gap: 40px;
}

.project-wrapper.odd {
    flex-direction: row;
}

.project-title {
    margin-bottom: 15px;
    font-size: 36px;
    font-weight: 500;
    color: #fff;
}

/* .about-project .desc {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    z-index: 4;
} */
.about-project, .project-video {
    flex: 1;
    max-width: 50%;
}

.project-video iframe {
    width: 400%;
    height: 315px;
    border-radius: 12px;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.3);
}
.project-img {
    margin-left: 30px;
    margin-right: 0;
    object-fit: contain;
    animation: jump 2.7s infinite;
    position: relative;
    top: 0px;
    filter: drop-shadow(2px 10px 20px rgba(255, 255, 255, 0.32));
}

.odd .project-img {
    top: 0px;
    object-fit: contain;
    position: relative;
    /* margin-right: 30px; */
    margin-left: 0;
}

@keyframes jump {
    0% {
        top: 20px;
    }

    50% {
        top: -20px;
    }

    100% {
        top: 20px;
    }
}

.project-img  img {
    border-radius: 18px;
    max-width: 500px;
    width: fit-content;
    height: auto;
}

@media screen and (max-width: 1150px) {
    .project-window {
        padding-left: 17vw;
        padding-top: 180px;
    }

    .project-img {
        margin-left: 60px;
    }

    .project-video iframe {
        width: 100%;
        height: 315px;
    }

    .odd .project-img {
        margin-right: 60px;
    }

    .project-img  img  {
        max-width: 400px;
    }
}

@media screen and (max-width: 950px), screen and (max-height: 550px) {
    .project-wrapper, .project-wrapper.odd {
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
    }
     .about-project, .project-video {
        max-width: 100%;
    }

    .project-video iframe {
        height: 315px;
        width: 120%;
    }
    .project-window {
        padding-left: 25vw;
        padding-top: 100px;
    }

    .project-title {
        margin-top: 40px;
    }

    .project-img {
        margin: 0;
    }

    .odd .project-img {
        margin: 0;
    }

    .project-img  img  {
        max-width: 450px;
    }
}

@media screen and (max-width: 750px) {
    .project-window {
        align-items: centre;
        /* padding: 110px 150px 0; */
    }
    .project-wrapper, .project-wrapper.odd {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .project-title {
        margin-top: 35px;
        font-size: 32px;
    }

    .about-project .desc {
        font-size: 16px;
        z-index: 0;
    }

    .about-project .btn {
        font-size: 16px;
    }

    .project-img {
        margin: 0;
    }
    .odd .project-img {
        margin: 0;
    }

    .project-img  img  {
        max-width: 300px;
    }

    .project-video iframe {
        height: 200px;
        width: 100%;
    }
}